@use '../../style/style' as styles;

.terminal-home-button {
  height: 35px;
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 16px;
  border: styles.$darkgray 2px solid;
  padding: 0 7px;
  background-color: white;
}

.auth-page {
  @include styles.flexColumnCenterElements;
  & .terminal-home-button {
    height: 35px;
    position: absolute;
    top: 7px;
    left: 20px;
    border: styles.$darkgray 2px solid;
    padding: 0 7px;
    background-color: white;
  }
  & .login-form__wrapper {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .login-form__container {
      //height: 220px;
      //width: 300px;
      padding: 30px;
      border: styles.$darkgray 1px solid;
      box-shadow: 0px 8px 15px -1px rgba(34, 60, 80, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      & .login-form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        & .form-control {
          //width: 100%;
        }
        & .form-label {
          font-size: 22px;
          margin-bottom: 10px;
        }
        & .formLogin {
          width: 100%;
          margin-bottom: 20px;
          height: 50px;
          & input {
            font-size: 22px;
          }
        }
        & .formPassword {
          width: 100%;
          margin-bottom: 10px;
          height: 50px;
          & input {
            font-size: 22px;
          }
        }
        & .login-form__button-wrapper {
          width: 100%;
          margin-bottom: 10px;
          & .form-button {
            width: 100%;
            //height: 30px;
            font-size: 22px;
            padding: 7px;
            margin-bottom: 5px;
            @include styles.greenButtonWithHover;
          }
        }
        & .error {
          font-size: 16px;
          color: red;
        }
      }

    }
  }
}