@use '../../style/style' as styles;

.item-info {
  //width: 55px;
  //border: black solid 2px;
  //border-radius: 3px;
  //text-align: center;

  &__image-container {
    //font-size: 0.8em;
    height: 35px;
  }
  &__amount {
    max-width: 60px;
    font-weight: bold;
    @include styles.forTrimLongString;
  }
}