@use '../../style/style' as styles;

.footer {
  background-color: styles.$primary;
  @include styles.flexColumnCenterElements;
  border-bottom:none;
  width: 100%;
  padding: 20px;
  & .copyright {
    //margin: auto;
  }
}