@use '../../style/style' as styles;

.ingridient {
  &-name {
    @include styles.forTrimLongString;
    flex-shrink: 1;
    font-size: 1.2em;
    width: 100px;
    &.deleted {
      color: red;
      font-weight: bold;
    }
  }
  &-header {
  }
  &-info {
    &__item {
      width: 55px;
      margin: 0 5px;
      pading: 0 3px;
      text-align: center;
      font-weight: bold;
      border: black solid 1px;
      border-radius: 3px;
    }
  }
  &-calories, &-weight, &-amount, &-price {
    //font-weight: bold;
    color: styles.$amountGreen;
    border: none;

  }
  &-proteines {
    background-color: styles.$proteins;
  }
  &-fats {
    background-color: styles.$fats;
  }
  &-carbohydrates {
    background-color: styles.$carbs;
  }

}