@use '../../style/style' as styles;

.item {
  @include styles.shadow;
  //width: 100%;
  max-width: 100%;
  background-color: ghostwhite;
  border: black solid 1px;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 5px;

  &__header {

  }
  &__name {
    flex-shrink: 1;
    font-size: 1.5em;
    font-weight: bold;
    @include styles.forTrimLongString;
  }
  &__delete-icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__description {
    @include styles.forTrimLongString;
  }
  &__ingridients {

  }
}